MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

API_PORT=
ASPNETCORE_ENVIRONMENT=

JWT_SIGNING_KEY=
JWT_EXPIRATION_MINUTES=


PUBLIC_URL=
IMAGE_NAME=
IMAGE_TAG=
SWAGGER_ENABLED=
